//Colors
$primary-color: #1D1C1C;
$secondary-color: #D3D3D3;
$nav-icons-hover-color: #F2F2F2;
$selected-color: #FFFFFF;
$linkedin-icon-color: #3166C2;
$github-icon-color: #000000;

//Generals
$h2-font-size: 32px;
$h3-font-size: 26px;
$h4-font-size: 24px;
$p-font-size: 22px;
$transition-time: 0.2s;

$margin-min: 10px;
$margin-mid: 25px;

//Nav
$icon-size: 28px;

//Skills
$bar-width: 60%;
$bar-height: 20px;
$inner-bar-primary-color: #1d1c1ca9;




