//Colors
$primary-color: #1D1C1C;
$secondary-color: #D3D3D3;
$nav-icons-hover-color: #F2F2F2;
$selected-color: #FFFFFF;

$linkedin-icon-color: #3166C2;
$github-icon-color: #000000;

$scrollbar-track: #D3D3D3;
$scrollbar-thumb: #1d1c1c59;
$scrollbar-hover: #555;

$send-form-error: #bb1515;
$background-form-error: #bb151579;

//Generals
$h1-font-size: 52px;
$h2-font-size: 32px;
$h3-font-size: 26px;
$h4-font-size: 24px;

$h1-smartphone-font-size: 40px;
$h2-smartphone-font-size: 30px;
$h3-smartphone-font-size: 26px;
$h4-smartphone-font-size: 24px;

$smartphone-width-container: 100vw;
$smartphone-height-container: 90vh;

$all-width-container: 95vw;
$all-height-container: 100vh;

$p-font-size: 22px;
$p-smartphone-font-size: 20px;

$transition-time: 0.2s;

$margin-min: 10px;
$margin-mid: 25px;
$margin-max: 50px;

$scrollbar-width: 8px;

//Nav
$icon-size: 28px;

//Jumbo
$img-transition: 0.6s;

$smartphone-width: 98%;


//Skills
$bar-width: 60%;
$bar-height: 20px;
$inner-bar-primary-color: #1d1c1ca9;

//Contattami
$form-box-shadow-color: #000000;
$button-color-hover: #524c4c;

//Media Query
$smartphone-min-breakpoint: 320px;
$smartphone-max-breakpoint: 767px;
$tablet-max-breakpoint: 1023px;
$large-min-breakpoint: 1366px;
